.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cep-title {
    color: black;
    font-weight: 800;
}

input {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    background-color: #ccc;
    color: black;
    text-align: center;
}

.container-info {
    background-color: #ccc;
    color:black;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    text-align: left;

}

.container-info p span {
    font-weight: 800;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}